@model IEnumerable<ArvutihooldusMVC.Models.ClientViewModel>

@{
    ViewData["Title"] = "Clients";
}

<h1>Clients</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="ClientOrders" asp-route-client="@item.Name">View Orders</a>
                </td>
            </tr>
        }
    </tbody>
</table>
