@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>We offer many computer services! You can submit an order <a asp-action="Order" asp-controller="Orders">here</a>!</p>
    <h4>Our services:</h4>
    <ul>
        <li>Cleaning</li>
        <li>Repairing</li>
        <li>Assembly</li>
        <li>Antivirus</li>
        <li>Updating</li>
    </ul>
</div>
